/* Estilos para la animación de carga */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que la animación esté sobre todo lo demás */
}

.loader-circle {
    border: 8px solid #dadada; /* Light grey */
    border-top: 8px solid #004D93; /* Andesmar blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite; /* dura un segundoa, ver con Agus si debe durar mas */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
